.localPicksText {
    padding-bottom: 1rem;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
}

.allLocalPicks {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
}

.localpicks {
    display: flex;
    flex-flow: row;
    padding: 1rem 0;
}

.localpicks>div:nth-child(2) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: auto;
}

.localpicks:last-child,
.localpicks:nth-child(3) {
    padding: 0 0 1rem 0;
}

.location {
    background-color: antiquewhite;
}

@media only screen and (max-width: 1024px) {
    .allLocalPicks {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

}