.img {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 1416px;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    right: 0;
    top: 0;
    object-fit: none;
    /* background-size: cover; */
}

.textBackground {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    padding: 2rem;
    letter-spacing: 0.2;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}