.languageBtnText {
    line-height: 19px;
    font-size: 18px;
    clip-path: polygon(7px 0, 100% 0, calc(100% - 7px) 100%, 0 100%);
    font-weight: 900;
    font-size: 14px;
    text-transform: capitalize;
}

.languageBtnText:after {
    background-color: "#fff"
}



.link:hover:after {}