.container {
  width: 100%;
  min-height: 100vh;
}

.header {
  background-color: #F26835;
  height: 300px;
  width: 100%;
}

.languageBtn {
  line-height: 19px;
  font-size: 18px;
  clip-path: polygon(7px 0, 100% 0, calc(100% - 7px) 100%, 0 100%);
}

.languageBtnText {
  font-weight: 900 !important;
  font-size: 14px;
  text-transform: capitalize;
}

.customizeToolbar {
  position: relative;
  padding: 0px 0px 15px 0px;
}

.customizeToolbar:after {
  /* background: linear-gradient(45deg, #fff 16px, transparent 0), linear-gradient(45deg, #fff 16px, transparent 0); */
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 25px 25px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
}