.container {
  width: 100%;
  min-height: 100vh;
}

.header {
  height: 300px;
  width: 100%;
}

.languageBtn {
  line-height: 19px;
  font-size: 18px;
  clip-path: polygon(7px 0, 100% 0, calc(100% - 7px) 100%, 0 100%);
}

.languageBtnText {
  font-weight: 900 !important;
  font-size: 14px;
  text-transform: capitalize;
}

.customizeToolbar {
  position: relative;
  padding: 0px 0px 15px 0px;
}

.topPicksGrid {
  display: grid;
  grid-template-columns: repeat(3, 28.5rem);
  grid-template-rows: repeat(2, 19.25rem);
  grid-gap: 1.5rem
}

@media (max-width: 600px) {
  .topPicksGrid {
    grid-template-columns: repeat(1, 28.5rem);
    grid-template-rows: repeat(6, 19.25rem);
  }
}